<div class="container">
  <h1 class="text-center">Servicios</h1>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Todos</a>
      <a class="navbar-brand" href="#">Autos</a>
      <a class="navbar-brand" href="#">Salud</a>
      <a class="navbar-brand" href="#">Hogar</a>
    </div>
  </nav>  
  <div class="container-lg pt-5">
    <div class="row">
      <div class="col-md-9">
        <app-services></app-services>
      </div>
      <div class="col-md-3">
        <app-new-service></app-new-service>
      </div>
    </div>
  </div>
  
</div>
<router-outlet></router-outlet>
